<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Test</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <h1>Employee</h1>


    <form class="form-group" action="/saveEmployee" th:action="@{/saveEmployee}"  method="post">
        <input th:type="hidden" name="id" th:field="${employee.id}" />
        <div class="form-group">
            <label for="nik" >Nik : </label>
            <input type="text" class="form-control" id="nik" th:field="${employee.nik}" />
        </div>

        <div class="form-group">
            <label for="name">Name : </label>
            <input type="text" class="form-control" id="name" th:field="${employee.name}"></textarea>
        </div>

        <div class="form-group">
            <label for="departemen">Departemen : </label>
            <input type="text" class="form-control" id="departemen" th:field="${employee.departement}"></textarea>
        </div>


        <div class="form-group">
            <label for="position">Position : </label>
            <input type="text" class="form-control" id="position" th:field="${employee.position}"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="#" th:href="@{/}" class="btn btn-danger" role="button">Cancel</a>
    </form>



</div>
</body>
</html>