<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Test</title>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <h1>Employee</h1>

    <p>
        <a href="/addEmployee" th:href="@{/addEmployee}">Create</a>
    </p>

    <table class="table" border="1">
        <thead>
        <tr>
            <th>Nik</th>
            <th>Name</th>
            <th>Departemen</th>
            <th>Position</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="emp : ${employees}">
            <td th:text="${emp.nik}"></td>
            <td th:text="${emp.name}"></td>
            <td th:text="${emp.departement}"></td>
            <td th:text="${emp.position}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>